.container{max-width: 1201px; margin: 0 auto;    padding: 0;    
}

h2{ margin: 0; padding: 0;
}

.link{display: block;text-decoration: none;  list-style: none; text-transform: uppercase;    color: #ffffff;
}

.text{text-align: center;display: block;    margin: 0 auto;
}

.flex{display: flex;
}

.section{margin: 0 auto;max-width: 1201px;
}

.m0{margin: 0;
}