.section__title {
  font: italic 24px 'Kaushan Script';
  padding-top: 46px;
}

.section__title_span {
  display: block;
  font: 700 30px 'Montserrat';
  margin-bottom: 65px;
}

.section__title_after::after {
  content: '';
  background-color: $color-pink;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  bottom: 100px;
  display: block;
  margin-top: 45px;
}

/* section-list */

.list__element {
  padding-bottom: 100px;
}

.list__title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font: 400 14px Montserrat;
  color: $color-list-title;
  margin: 0;
  text-align: left;
}

.list__text {
  font: 400 15px Roboto;
  color: $color-text;
  padding-right: 80px;
  margin: 0;
  text-align: left;
}

.list {
  flex-wrap: wrap;
}

.list__element {
  position: relative;
  max-width: 33.3%;
}

.icon {
  width: 36px;
  height: 36px;
}

.list__element--alarm,
.list__element--book,
.list__element--line,
.list__element--home,
.list__element--computer,
.list__element--img {
  position: absolute;
  left: -60px;
}


