@media screen and (min-width:768px){
    .main-header{
        background-image: url(../img/tablet.png);
        height: 700px;
        }
    .container{
        width: 748px;
    }

    .sign{
        justify-content:space-around;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        
    }
    .logo{
    order: 0;
    padding-top: 10px;
    flex-grow: 1;
    text-align: left;
    
    }
    .title-h1{
        padding-top: 150px;
        font-size: 50px;
        line-height: 52px;
    
    }
    .title-h2{
        font-size: 24px;
        padding-bottom: 30px;
    }
    .title-button{
        width: 230px;
    }
    
    .card-iteam{
        display: flex;
        flex-wrap: wrap;
        width: 492px;
        justify-content: space-between;
    }
    .card-iteam li{
        width: 220px;
    }
    .card-button{
        width: 197px;
    }
}

@media screen and (min-width: 960px){
    .main-header{
        margin: 0 auto;
        background-image: url(../img/desktop.png);
        height: 700px;
    }
    .container{
        width: 940px;
    }
    .card-iteam{
        width: 940px;
    }
    .card-title{
        margin-bottom: 40px;
    }
}