html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

*{
    margin: 0;
}

.container{
    width: 901px;
    margin: 0 auto;
}
.page-header{
    font-size: 0;
    text-align: center;
    padding: 77px 0 102px;
    }
a{
    text-decoration: none;
    color: none;
}
.navigation a:hover{
    color: rgb(98, 98, 98);
}
.navigation li{
    display: inline-block;
    margin-right: 102px;
    }

    .navigation li:last-child{
    margin-right: 0;
    }
.navigation li{
    font-size: 14px;
    height: 90px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    vertical-align: middle;
    height: auto;
}
.navigation-link{
    display: block;
}
.navigation{
    padding-inline-start: 0;
    list-style: none;
}

.content-list li{
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    }

    .content-list{
    padding-inline-start: 0;
    font-size: 0;
    }
    .content-list-item:nth-child(2n){
            margin-right: 0;
    }
.content-list-image{
    margin-bottom: 30px;
    
}

.content-list-name {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    height: 100%;
    margin-bottom: 30px;
    
}

.content-list-about {
    font-size: 30px;
    font-style: normal;
    font-family: "Playfair Display regular";
    color: rgb(98, 98, 98);
    height: 100%;
    margin-bottom: 40px;
}

.content-list-text{
    font-size: 14px;
    font-family: "Playfair Display regular";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    }

.content-list-item:not(:nth-last-child(-n + 2)){
    margin-bottom: 100px;
    }

button{
    margin: 0 auto;
    
    }

.button-in {
    display: block;
    margin-bottom: 70px;
    margin-top: 60px;
    font-size: 20px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    width: 163px;
    height: 60px;
    padding: 0;
    cursor: pointer;
}

.button-in:hover{
    background-color:lightgreen;
}


